body, h1 {
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: lighter;
}
#canvas {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#color {
	color: #fff;
}