body, h1, h4, input {
	font-family: 'Cabin', 'Helvetica Neue', Helvetica;
	font-weight: normal;
	color: #2e2e2e;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	height: 50px;
}
/* placeholder color */
::-webkit-input-placeholder {
	color: #7d7d7d !important;
}

/* STANDARD CANVAS BACKGROUND */
#canvas {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#color {
	color: #fff;
	margin-bottom: 3px;
	font-weight: lighter;
}
#canvas > div {
	display: flex;
	align-items: center;
}
#title > i.fi-plus {
	padding-right: 5px;
	font-size: 24px;
}

/* PALETTE PAGE */
#palette {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
  padding: 50px 10px 0 20px;
  overflow-y: scroll;
}
#swatch-container {
	display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: scroll;
  padding-bottom: 100px;
}
#swatch {
	width: 50px;
  height: 50px;
  margin: 0 10px 10px 0;
}
#current-color, #add-color {
	position: fixed;
  padding: 5px;
	background-color: rgba(226,226,226,.9);
}
#add-color {
  right: 20px;
  margin-bottom: 20px;
  bottom: 30px;
}
#add-color > input {
	font-size: 14px;
  border-width: 0 0 1px 0;
  border-color: #2e2e2e;
  text-align: right;
  outline: none;
	background-color: transparent;	
}
#add-color > i.fi-plus {
	margin-right: 10px;
	transform: scale(1) rotate(0deg);
  transition: all .7s ease;
	-webkit-transform: scale(1) rotate(0deg);
  -webkit-transition: all .7s ease;
}
#add-color > i.fi-plus:hover {
  transform: scale(1.5) rotate(180deg);
  -webkit-transform: scale(1.5) rotate(180deg);
}
#current-color {
  right: 20px;
  bottom: 0px;
}

/* INDEX PAGE GRADIENT ANIMATION */
.initial {
    background: linear-gradient(92deg, #2e97d3, #9b56b7, #e87f04, #1dce6c);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
@keyframes AnimationName { 
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
.button.secondary.index {
	background: transparent;
	border-width: 1px;
	border-color: #fff;
	margin: 5px;
	font-weight: normal;
}
.button.secondary.index:focus, .button.secondary.index:hover {
	background-color: #fff;
	color: #2e2e2e;
}

/* MEDIA QUERIES */
@media (min-width: 640px) {
	#title > i.fi-plus {
		padding-right: 10px;
		font-size: 36px;
	}
	#color {
		margin-bottom: 10px;
	}
	#add-color {
		bottom: 40px;
	}
}
